[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"
librosa = "*"
scikit-learn = "*"
tensorflow-macos = "*"
tensorflow-metal = "*"
keras = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.6"
